# Name: Action_Bar
# Author: Jerome Mutterer
# Version: 2.01c
# Date: 2011/03/04
# Requires: ImageJ 1.43s
# Generate the jar file using: "jar cvfM action_bar.jar *"
# in my case:
# cd where original files are, then,
# jar cvfM /Applications/ImageJ\ 2/plugins/ActionBar/action_bar.jar *


Plugins>Input-Output, "RML ", RML_("")
Plugins>ActionBar, "Read My Lifs", Action_Bar("jar:file:RML_.jar!/Read_My_Lifs.txt")
